body {
  background-color:#000000;
}




.moon img { 
width:320px; height:54px; transition:width 2s, height 2s, transform 2s; -webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari */ 
} 
.moon img:hover { 
width:320px; height:54px; transform:rotate(360deg); -webkit-transform:rotate(360deg); /* Safari */ 
}


 
